body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

.both-same {
  background-color: #a5ff99;
}

.ytbd {
  background-color: #ffaf99;
}

td {
  padding-left: 1em;
}

thead {
  background-color: #f7ff99;
}

.col-h {
  padding-right: 1.5em;
  padding-left: 1em;
  text-align: left;
  
}

.top-h {
  background-color: #abf0ff;
  font-style: bold;
  font-size: 1.5em;
}
